@font-face {
    font-family: 'MarkPro';
    src: url('../fonts/mark-pro/MarkPro-Black.eot');
    src: url('../fonts/mark-pro/MarkPro-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/mark-pro/MarkPro-Black.woff') format('woff'),
    url('../fonts/mark-pro/MarkPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'MarkPro-BoldItalic';
    src: url('../fonts/mark-pro/MarkPro-BoldItalic.eot');
    src: url('../fonts/mark-pro/MarkPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/mark-pro/MarkPro-BoldItalic.woff') format('woff'),
    url('../fonts/mark-pro/MarkPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'MarkPro-BlackItalic';
    src: url('../fonts/mark-pro/MarkPro-BlackItalic.eot');
    src: url('../fonts/mark-pro/MarkPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/mark-pro/MarkPro-BlackItalic.woff') format('woff'),
    url('../fonts/mark-pro/MarkPro-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'MarkPro-Book';
    src: url('../fonts/mark-pro/MarkPro-Book.eot');
    src: url('../fonts/mark-pro/MarkPro-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/mark-pro/MarkPro-Book.woff') format('woff'),
    url('../fonts/mark-pro/MarkPro-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'MarkPro';
    src: url('../fonts/mark-pro/MarkPro-Bold.eot');
    src: url('../fonts/mark-pro/MarkPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/mark-pro/MarkPro-Bold.woff') format('woff'),
    url('../fonts/mark-pro/MarkPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'MarkPro';
    src: url('../fonts/mark-pro/MarkPro.eot');
    src: url('../fonts/mark-pro/MarkPro.eot?#iefix') format('embedded-opentype'),
    url('../fonts/mark-pro/MarkPro.woff') format('woff'),
    url('../fonts/mark-pro/MarkPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'MarkPro';
    src: url('../fonts/mark-pro/MarkPro_1.eot');
    src: url('../fonts/mark-pro/MarkPro_1.eot?#iefix') format('embedded-opentype'),
    url('../fonts/mark-pro/MarkPro_1.woff') format('woff'),
    url('../fonts/mark-pro/MarkPro_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }